.header {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem 1.5rem 1rem 1.5rem; 
  width: 100%;
}

.title {
  margin: 0;
  text-decoration: none;
}

.nav {
  position: absolute;
  top: 0rem;
  right: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.active {
  color: gray;
  text-decoration: underline;
}

.inactive {
  color: black;
  text-decoration: underline;
}