.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 600px;

  background: rgba(255, 255, 255, 0.967);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 2rem; 
}

.errorBox {
  border: 1px solid red;
  padding: 0.5rem;
}
